<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">QuickPay Payment</label>
    <label lang="en">QuickPay Payment</label>
    <version>2.2.4</version>
    <link>https://quickpay.net</link>
    <author>QuickPay ApS</author>
    <compatibility minVersion="5.3.0" />
    <changelog version="2.2.4">
		<changes lang="en">
        	Fixed some Bug in klarna-payments & paypal.
		</changes>
	</changelog>
    <changelog version="2.2.3">
		<changes lang="en">
        	Added new payment method Paypal and klarnapayments.
		</changes>
	</changelog>
    <changelog version="2.2.2">
		<changes lang="en">
        	bug fix
		</changes>
	</changelog>
    <changelog version="2.2.1">
		<changes lang="en">
        	added compatibility for Shopware 5.7.7
		</changes>
	</changelog>
    <changelog version="2.2.0">
        <changes lang="en">Added extended logging</changes>
    </changelog>
    <changelog version="2.1.0">
        <changes lang="en">
           Added QuickPay payment ID to the backend order details view
        </changes>
    </changelog>
    <changelog version="2.0.2">
        <changes lang="en">
           Callback only persists order if payment-authorization was successful
        </changes>
    </changelog>
    <changelog version="2.0.1">
        <changes lang="en">
            Fixed callback to consider qp_status_code
        </changes>
    </changelog>
    <changelog version="2.0.0">
        <changes lang="en">
            Added Backend panel to the order detail view
            Included possibility to trigger capture, cancel and refund requests from the backend
            Updated internal checkout workflow
        </changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="en">
            Added fix to prevent template error
            Added payment link to order attributes
            Allow cancelling of payment without losing cart, only send out order confirmation on successful payment
        </changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="en">Send shop language when creating payment link</changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="en">Release</changes>
    </changelog>
</plugin>
